.main-container{
    min-height: 60vh;
}
.card{
    border: none;
    border-radius: 0;
    box-shadow: 0 30px 50px #052f281f;
}

.menus-list{
    list-style: none;
}
.menus-list li{
   cursor: pointer;
}
li.active{
    color: var(--secondary-light-color);
    background-color: var(--secondary-light-subtle-lighten-color);
}
.list-item-text{
    font-size: 1.2rem;
}