<ng-container *ngIf="!((wishlistItem$ | async)!.length > 0); else wishlistSection">
    <div class="container p-2 py-5">
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/images/empty-wishlist.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-6">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div>
                        <p class="fs-1 fw-bold text-forest-green">Your wishlist is empty!</p>
                        <p class="text-center"><a routerLink="/" class="text-forest-green fs-5">Continue Shopping</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </ng-container>
    <ng-template #wishlistSection>
        <div class="container p-2 py-5 d-flex flex-column align-items-center">
            <div class="col-10">
                <div class="row justify-content-center">
                    <div class="col-md-8 mb-4">
                        <h1>Wishlist</h1>
                    </div>
                    <div class="col-md-8 order-2 order-md-1">
                        <ng-container *ngFor="let item of wishlistItem$ | async">
                            <div class="row mb-5">
                                <div class="col-3 text-center mb-3">
                                    <img src="{{item.product.images[0]}}"
                                        alt="" class="img-fluid" />
                                </div>
                                <div class="col-9">
                                    <p class="product-name">
                                            {{item.product.name}}
                                    </p>
                                    <p class="seller-name">Seller: {{item.product.sellerName}}</p>
                                    <p class="price">&#8377;{{item.product.price}}</p>
                                    <div class="row align-items-center">
                                        <div class="col-md-12 d-flex align-items-center gap-2">
                                            <button class="btn btn-lg rounded-0 btn-outline-dark">
                                                Move to cart
                                            </button>
                                            <button class="btn rounded-0 ms-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                    fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path
                                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                                    <path
                                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fuild px-3">
           <app-similar-products [products]="similarProducts"></app-similar-products>
        </div>
    </ng-template>