<div class="container p-2 py-5 d-flex flex-column align-items-center">
    <div class="col-10">
        <div class="row justify-content-center">
            <div class="col-md-8 mb-4">
                <h1>Wishlist</h1>
            </div>
            <div class="col-md-8 order-2 order-md-1">
                <ng-container *ngFor="let item of cartItem">
                    <div class="row mb-5">
                        <div class="col-3 text-center mb-3">
                            <img src="https://static.nike.com/a/images/t_PDP_864_v1,f_auto,q_auto:eco/a277aa72-0b73-48da-8a6a-1fe1a21a6f03/victori-one-slides-QTTJHP.png"
                                alt="" class="img-fluid" />
                        </div>
                        <div class="col-9">
                            <p class="product-name">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
                                dolorum!
                            </p>
                            <p class="seller-name">Seller: Lorem, ipsum.</p>
                            <p class="price">&#8377;1700</p>
                            <div class="row align-items-center">
                                <div class="col-md-12 d-flex align-items-center gap-2">
                                    <button class="btn btn-lg rounded-0 btn-outline-dark">
                                        Move to cart
                                    </button>
                                    <button class="btn rounded-0 ms-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                            fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                            <path
                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                </ng-container>
            </div>
        </div>
    </div>
</div>
<div class="container-fuild px-3">
    <div class="row mb-4">
        <h2>You Might Also Like</h2>
    </div>
    <div class="row-md d-flex overflow-x-scroll">
        <div class="col-md-3 col-12 me-2" *ngFor="let item of similarProducts">
            <app-product-card></app-product-card>
        </div>
    </div>
</div>