.main-div{
    height: 100vh;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/assets/images/congruent_pentagon.webp');}


    .card {
        background: #ffffff72;
        backdrop-filter: blur(1px);
        border: none;
        border-radius: 0;
    }

a {
    font-style: italic;
    text-decoration: none;
}

.sign-in-divider{
    top: 10%;
    right: 35%;
}

.form-control {
    background-color: transparent !important;
}
@media only screen and (max-width:768px) {
    .sign-in-divider{
        top: 10%;
        right: 27%;
    }
    input[type=checkbox].form-check-input {
        height: 1.3rem;
        width: 1.3rem !important;
    }

    
}