.card{
    border-radius: 0;
    border: none;
    aspect-ratio: 3/1.5;
}
p{
    margin-bottom:0;
}
.category-name{
    color: #777;
    font-size: 1rem;
    text-transform: uppercase;
}
.product-rating{
    color: rgb(255, 178, 29);
}
.product-name{
    font-size: 1.5rem;
}
.product-price{
    font-size: 1.4rem;
}

.card-header{

    border: none;
    border-radius: 0;
    min-width: 40%;
}

a{
     text-decoration: none;
}