<div class="contianer h-100">
    <div class="row mb-4">
        <div class="col-md-12">
            <h4 class="fw-bold">My activity settings</h4>
        </div>
        <div class="col-md-12">
            <small>Stay up to date with notification on activity that involves you including mentions, messages, replies to your bids, new items, sale and administrative updates            </small>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" role="switch" id="" checked>
                <label class="form-check-label" for="">Top Deals and more</label>
              </div>
        </div>
        <div class="col-md-12">
            <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" role="switch" id="" checked>
                <label class="form-check-label" for="">Latest updates on your orders</label>
              </div>
        </div>
        <div class="col-md-12">
            <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" role="switch" id="" checked>
                <label class="form-check-label" for="">Rating and Reviews for your purchase</label>
              </div>
        </div>
        <div class="col-md-12">
            <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" role="switch" id="" checked>
                <label class="form-check-label" for="">Price Drops, Back-in-stock, Etc.</label>
              </div>
        </div>
    </div>
</div>