<div class="row bg-dark-subtle px-3 py-3 mx-0 d-flex d-md-none">
    <div class="col-md-12">
        <a routerLink="../" class="back-navigation">
            <h2 class="mb-0 d-flex align-items-center gap-2"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
              </svg> Notification Setting</h2> 
        </a>
    </div>
</div>
<div class="contianer h-100 p-2 py-4">
    <div class="row mb-4 mx-0">
        <div class="col-md-12 d-none d-md-block">
            <h4 class="fw-bold">My Activity Settings</h4>
        </div>
        <div class="col-md-12">
            <small>Stay up to date with notification on activity that involves you including mentions, messages, replies to your bids, new items, sale and administrative updates            </small>
        </div>
    </div>
    <div class="row mx-0">
        <div class="col-md-12">
            <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" role="switch" id="" checked>
                <label class="form-check-label mt-1 mt-md-0" for="">Top Deals and more</label>
              </div>
        </div>
        <div class="col-md-12">
            <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" role="switch" id="" checked>
                <label class="form-check-label mt-1 mt-md-0" for="">Latest updates on your orders</label>
              </div>
        </div>
        <div class="col-md-12">
            <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" role="switch" id="" checked>
                <label class="form-check-label mt-1 mt-md-0" for="">Rating and Reviews for your purchase</label>
              </div>
        </div>
        <div class="col-md-12">
            <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" role="switch" id="" checked>
                <label class="form-check-label mt-1 mt-md-0" for="">Price Drops, Back-in-stock, Etc.</label>
              </div>
        </div>
    </div>
</div>