.card{
    border-radius: 0;
    border: none;
}
p{
    margin-bottom: 0;
}
h5{
    margin-bottom: 0;
}

.sort-card{
    position: sticky;
    top: 4.8rem;
    z-index:10
}

.sort-card-mobile{
    position: sticky;
    top: 7rem;
    z-index:10
}