<div class="container position-relative">
    <div class="row">
        <div class="col-md-2">
            <div class="card sort-card">
                <div class="card-body">
                    <div class="row">
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <h3>Filter</h3>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <h5 class="mb-3">Price</h5>
                            <div class="form-group mb-2">
                                <input type="checkbox" name="" class="form-check-input" id="price-1">
                                <label for="price-1" class="form-check-label ms-2">Under 1999</label>
                            </div>
                            <div class="form-group mb-2">
                                <input type="checkbox" name="" class="form-check-input" id="price-2">
                                <label for="price-2" class="form-check-label ms-2">Under 999</label>
                            </div>
                            <div class="form-group mb-2">
                                <input type="checkbox" name="" class="form-check-input" id="price-3">
                                <label for="price-3" class="form-check-label ms-2">Under 499</label>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <h5 class="mb-3">Discount</h5>
                            <div class="form-group mb-2">
                                <input type="checkbox" name="" class="form-check-input" id="price-1">
                                <label for="price-1" class="form-check-label ms-2">30% more</label>
                            </div>
                            <div class="form-group mb-2">
                                <input type="checkbox" name="" class="form-check-input" id="price-2">
                                <label for="price-2" class="form-check-label ms-2">20% more</label>
                            </div>
                            <div class="form-group mb-2">
                                <input type="checkbox" name="" class="form-check-input" id="price-3">
                                <label for="price-3" class="form-check-label ms-2">10% more</label>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <h5 class="mb-3">Customer Rating</h5>
                            <div class="form-group mb-2">
                                <input type="checkbox" name="" class="form-check-input" id="price-1">
                                <label for="price-1" class="form-check-label ms-2">Above 4</label>
                            </div>
                            <div class="form-group mb-2">
                                <input type="checkbox" name="" class="form-check-input" id="price-2">
                                <label for="price-2" class="form-check-label ms-2">Above 3</label>
                            </div>
                            <div class="form-group mb-2">
                                <input type="checkbox" name="" class="form-check-input" id="price-3">
                                <label for="price-3" class="form-check-label ms-2">Above 2</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row mb-3 sort-card">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 d-flex align-items-center gap-5">
                                    <h4 class="mb-0">Sort by: </h4>
                                    <p>Popularity</p>
                                    <p>Price - High to Low</p>
                                    <p>Price - Low to High</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                @for (item of products; track $index) {
                    <div class="col-md-3">
                        <app-product-card></app-product-card>
                    </div>
                }
            </div>
        </div>
    </div>
</div>