<div class="main-container p-md-5">
    <!-- <div class="col-md-12 h-100"> -->
        <div class="row card-box-shadow">
            <div class="col-md-6 bg-danger-subtle">
                <div class="card h-100">
                    <div class="card-body p-5">
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-center mb-4">
                                <div class="circle p-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                        <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5"/>
                                      </svg>
                                </div>
                            </div>
                            <div class="col-md-12 text-center mb-3">
                                <p class="fs-1 text-danger fw-bold mb-1">Your Order Failed</p>
                                <p class="text-danger">We regret to inform you that there was an issue processing your recent order with us. </p>
                            </div>
                        </div>
                        <div class="row justify-content-center mb-md-5 mb-3">
                            <div class="col-md-6 text-center text-md-start">
                                <div>
                                    <p class="text-danger fs-5 mb-0">Order Date:</p>
                                    <p class="text-danger fw-bold">Dec 12, 2023</p>
                                </div>
                            </div>
                            <!-- <div class="col-md-4 text-center text-md-end">
                                <div class="">
                                    <p class="text-danger fs-5 mb-0">Expected Delivery:</p>
                                    <p class="text-danger fw-bold">Dec 18, 2023</p>
                                </div>
                            </div>
                            <div class="col-md-6 text-center text-md-start">
                                <p class="text-danger fs-5 mb-0">Order Number:</p>
                                <p class="text-danger fw-bold">#456456</p>
                            </div> -->
                            <div class="col-md-4 text-center text-md-end ">
                                <div>
                                    <p class="text-danger fs-5 mb-0">Payment Method:</p>
                                    <p class="text-danger fw-bold">Credit Card</p>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-5 mb-3"><button class="w-100 btn btn-lg btn-danger rounded-0">Try Again</button></div>
                            <div class="col-md-5 mb-3"><button class="w-100 btn btn-lg btn-outline-dark rounded-0">Continue Shopping</button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-md-12 mb-4">
                                    <p class="fs-1">Order Detail</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th class="text-end">Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, enim.</td>
                                                <td class="text-end">$130</td>
                                            </tr>
                                            <tr>
                                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, enim.</td>
                                                <td class="text-end">$130</td>
                                            </tr>
                                            <tr>
                                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, enim.</td>
                                                <td class="text-end">$130</td>
                                            </tr>
                                            <tr>
                                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, enim.</td>
                                                <td class="text-end">$130</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td class="fw-bold">Discount</td>
                                                <td class="text-end">$0.0</td>
                                            </tr>
                                            <tr class="total-price">
                                                <td class="fs-3 fw-bold">Total Price</td>
                                                <td class="fs-3 text-end">$130</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
</div>