.card{
    border-radius: 0;
    border: none
}
.card-header{
    aspect-ratio: 1/1;
    border: none;
    border-radius: 0;
}

.card-hover-content{
    transform: translate(10%,10%);
    width: 80%;
    height: 80%;
    background-color: aquamarine;
    z-index: -1;
}

.card:hover .card-hover-content{
z-index: 2;
}

.product-type{
    font-weight: 500;
}