<div class="card">
    <div class="card-header bg-pale-blue-gray p-2">
        <div class="bg-light position-absolute card-hover-content d-flex justify-content-center align-items-center">
           <div class="row text-center">
            <div class="col-md-12">
                <p>Price</p>
            </div>
            <div class="col-md-12">
                <p class="product-type">Product Type</p>
            </div>
            <div class="col-md-12">
                <button class="btn btn-outline-dark rounded-0">Add to Cart</button>
            </div>
           </div>
        </div>
    </div>
</div>