<div class="row bg-dark-subtle px-3 py-3 mx-0 d-flex d-md-none">
    <div class="col-md-12">
        <a routerLink="../" class="back-navigation">
            <h2 class="mb-0 d-flex align-items-center gap-2"><svg xmlns="http://www.w3.org/2000/svg" width="28"
                    height="28" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                </svg> Change Password</h2>
        </a>
    </div>
</div>
<div class="contianer h-100 p-2 py-4">
    <div class="row mb-4 mx-0">
        <div class="col-md-12 d-md-block d-none">
            <h4 class="fw-bold">Change Password</h4>
        </div>
    </div>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="row mx-0">
            <div class="col-md-12">
                <div class="form-group mb-3">
                    <div class="input-group">
                        <span class="input-group-text rounded-0" id="basic-addon1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="grey"
                                class="bi bi-lock" viewBox="0 0 16 16">
                                <path
                                    d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1" />
                            </svg>
                        </span>
                        <input type="password" class="form-control form-control-lg border-start-0 rounded-0 py-3"
                            placeholder="Old Password" aria-label="Username" aria-describedby="basic-addon1"
                            formControlName="oldPassword">
                    </div>
                    <small class="text-danger" *ngIf="isSubmitted && f['oldPassword'].errors?.['required']">Old Password
                        is Required</small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <div class="input-group ">
                        <span class="input-group-text rounded-0" id="basic-addon1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="grey"
                                class="bi bi-lock" viewBox="0 0 16 16">
                                <path
                                    d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1" />
                            </svg>
                        </span>
                        <input type="password" class="form-control form-control-lg border-start-0 rounded-0 py-3"
                            placeholder="New Password" aria-label="Username" aria-describedby="basic-addon1"
                            formControlName="newPassword">
                    </div>
                    <small class="text-danger" *ngIf="isSubmitted && f['newPassword'].errors?.['required']">New Password
                        is Required</small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <div class="input-group">
                        <span class="input-group-text rounded-0" id="basic-addon1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="grey"
                                class="bi bi-lock" viewBox="0 0 16 16">
                                <path
                                    d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1" />
                            </svg>
                        </span>
                        <input type="password" class="form-control form-control-lg border-start-0 rounded-0 py-3"
                            placeholder="Confirm Password" aria-label="Username" aria-describedby="basic-addon1"
                            formControlName="confirmNewPassword">
                    </div>
                    <small class="text-danger"
                        *ngIf="isSubmitted && f['confirmNewPassword'].errors?.['required']">Confirm New Password is
                        Required</small>
                </div>
            </div>
            <div class="col-md-6 mt-md-5 mt-3">
                <button class="btn btn-lg btn-outline-dark rounded-0 d-md-block d-none">Update</button>
                <button class="btn btn-lg btn-outline-dark rounded-0 w-100 d-block d-md-none">Update</button>
            </div>
        </div>
    </form>
</div>