<!-- <p>home works!</p> -->

<!-- Banner -->
<section>Banner</section>

<!-- Category to visit -->
<section>
    <div class="row p-md-4 p-2">
        <div class="col-md-4 mb-4" *ngFor="let category of categoriesToVisit">
            <app-category-to-visit-card [category]="category"></app-category-to-visit-card>
        </div>
    </div>
</section>
<!-- Product Card Row -->

<section class="container pt-5">
    <div class="row">
        <div class="col-md-12 text-center text-light-lavender">
            <h5>Find Your Favorites</h5>
        </div>
        <div class="col-md-12 text-center mb-4">
            <h2>Popular on the <span class="brand-text">Vogue Vista</span> store.</h2>
        </div>
        <div class="col-md-3 col-6" *ngFor="let product of products">
            <app-product-card></app-product-card>
        </div>
    </div>
</section>
<!-- Faishon Trends -->

<section>Fashion Trends</section>

<!-- Trending arrivals -->

<section>Trending Arrivals</section>

<!-- This Week's Featured -->

<section>This Weeks's Featured</section>

