<!-- <p>home works!</p> -->

<!-- Banner -->
<section>
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="bannerConfig">
        @for (banner of bannerSlides; track banner.bannerId) {
        <div ngxSlickItem class="slide">
            <div class="row mx-0 px-0">
                <div class="col-md-6 bg-dark text-white px-0 d-none d-md-flex align-items-center banner">
                    <div class="px-5">
                        <p class="banner-small-text">{{ banner.bannerSmallText }}</p>
                        <p class="banner-heading-text">{{ banner.bannerHeading }}</p>
                        <p class="banner-sub-heading">{{banner.bannerSubheading}}</p>
                        <button class="btn-light btn-lg btn rounded-0">Shop now -></button>
                    </div>
                </div>
                <div class="col-md-6 px-md-0 position-relative banner">
                    <img src="{{ banner.bannerImage }}" alt="" class="img-fluid">
                    <div class="px-5 mobile-banner-text d-block d-md-none py-3">
                        <div class="d-flex justify-content-end h-100 flex-column align-items-start">
                            <p class="banner-small-text">{{ banner.bannerSmallText }}</p>
                            <p class="banner-heading-text">{{ banner.bannerHeading }}</p>
                            <p class="banner-sub-heading">{{banner.bannerSubheading}}</p>
                            <button class="btn-light btn-lg btn rounded-0">Shop now -></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </ngx-slick-carousel>
</section>

<!-- Category to visit -->
<section class="category-to-visit-section">
    <div class="row p-md-4 p-2">
        <div class="col-md-4 mb-4" *ngFor="let category of categoriesToVisit">
            <app-category-to-visit-card [category]="category"></app-category-to-visit-card>
        </div>
    </div>
</section>
<!-- Product Card Row -->

<section class="container py-5">
    <div class="row">
        <div class="col-md-12 text-center text-slate-blue">
            <h5>Find Your Favorites</h5>
        </div>
        <div class="col-md-12 text-center mb-4">
            <h2 class="section-heading">Popular on the <span class="brand-text">Vogue Vista</span> store.</h2>
        </div>
        <div class="col-md-3 col-6 mb-4" *ngFor="let product of products">
            <app-product-image-card></app-product-image-card>
        </div>
    </div>
</section>
<!-- Faishon Trends -->

<section class="fashion-trends p-5" [ngStyle]="{'background-image': 'url(' + promoBanner.bannerImage + ')'}">
    <div class="row">
        <div class="col-md-6 text-center glass-effect-card">
            <p class="fashion-trend-year text-forest-green">2023</p>
            <p class="fashion-trend-main-text">Fashion Trends</p>
            <p class="fashion-trend-tag-text">Special Offer</p>
        </div>
    </div>
</section>

<!-- Trending arrivals -->

<section class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-10 p-md-5">
            <div class="row p-md-5">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12 ps-md-5 text-slate-blue">
                            <h5>More to Discover</h5>
                        </div>
                        <div class="col-md-12 ps-md-5">
                            <h2 class="section-heading">Trending Arrivals</h2>
                        </div>
                        <div class="col-md-12 p-md-5">
                            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                                @for (slide of slides; track slide.img) {
                                <div ngxSlickItem class="slide" style="width: 50%;">
                                    <div class="px-2">
                                        <app-product-card></app-product-card>
                                    </div>
                                </div>
                                }
                            </ngx-slick-carousel>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 py-5">
                    <div class="card h-100">
                        <div class="card-body bg-light-lavender position-relative" style="height: 513px;">
                            <div class="side-card-content position-absolute">
                                <p class="side-card-text">Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
                                <button class="btn btn-lg btn-outline-light rounded-0">Explore More -></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- This Week's Featured -->

<section class="bg-dark-subtle py-5 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-slate-blue">
                <h5>Best Seller</h5>
            </div>
            <div class="col-md-12 mb-4">
                <h2 class="section-heading">This Week's Featured</h2>
            </div>
            <div class="col-md-12 p-lg-5 mb-4">
                <ngx-slick-carousel class="carousel caurosel-width" #slickModal="slick-carousel"
                    [config]="slideConfigTwo">
                    @for (slide of slides; track slide.img) {
                    <div ngxSlickItem class="slide">
                        <div class="px-lg-2">
                            <app-product-horizontal-card></app-product-horizontal-card>
                        </div>
                    </div>
                    }
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</section>