<!-- <p>home works!</p> -->

<!-- Banner -->
<section>Banner</section>

<!-- Category to visit -->
<section class="container-flid">
    <div class="row p-md-4 p-2">
        <div class="col-md-4 mb-4" *ngFor="let category of categoriesToVisit">
            <app-category-to-visit-card [category]="category"></app-category-to-visit-card>
        </div>
    </div>
</section>
<!-- Product Card Row -->

<section>Product Card Row</section>
<!-- Faishon Trends -->

<section>Fashion Trends</section>

<!-- Trending arrivals -->

<section>Trending Arrivals</section>

<!-- This Week's Featured -->

<section>This Weeks's Featured</section>

