.add-new-address-link{
    text-decoration: none;
    color: var(--secondary-light-color);
    cursor: pointer;
}

p{
    margin-bottom: 0;
}
.back-navigation{
    text-decoration: none;
    color: unset;
   
}
.back-navigation h2{
    font-weight: 600;
}
.accordion-button{
    /* padding: 1.5rem 1rem; */
    font-size: 1.5rem;
    color: #777;
}

.accordion-item {
    border-radius: 0;
    border: 1px solid #ddd;
    /* margin-bottom: 1rem; */

}
.accordion-button:not(.collapsed){
    background-color: #fff !important;
    color: #000;
}

.accordion-button:after {
    background: none !important;
}

.accordion-button:focus{
    border-color: transparent !important;
    box-shadow : none !important;
}
