<div class="side-menu p-2">
    <div class="row">
        <div class="col-md-12 text-end px-3">
            <div class="border border-end-0 border-start-0 border-top-0 border-3">
                <div class="btn" (click)="closeSideMenu()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path
                            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="row menu-items">
        <div class="col-md-12">
            <div ngbAccordion [closeOthers]="true">
                <div ngbAccordionItem *ngFor="let item of menuItem">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>{{ item.menuItemTitle }}</button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                <a [routerLink]="['/product/l']" (click)="closeSideMenu()"
                                    class="fs-5 fw-semibold d-block" *ngFor="let a of item.children">{{ a.menuItemTitle
                                    }}</a>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>