<div class="container-fluid bg-dark p-2">
    <div class="row text-white">
        <div class="col-2 d-md-flex d-none">
            <div class="row">
                <div class="col-auto border-end"><div class="annonucement-bar-items">750k</div></div>
                <div class="col-auto border-end"><div class="annonucement-bar-items"><a href="tel:+91-8080534556" class="annoucement-bar-number">+91-8080534556</a></div></div>
            </div>
        </div>
        <div class="col-md-8 text-center">
            25% OFF on all Products <a href="#" class="annoucement-bar-link">Shop Now</a>
        </div>
        <div class="col-2 d-md-flex d-none justify-content-end">
            <div class="row">
                <div class="col-auto border-start border-end">
                    <app-dropdown [options]="lstLanguage" [defaultOption]="'en'"></app-dropdown>
                </div>
                <div class="col-auto border-end">
                    <app-dropdown [options]="lstCurrency" [defaultOption]="'INR'"></app-dropdown>
                </div>
                <div class="col-auto">
                    <div class="annonucement-bar-items">Setting</div>
                </div>
            </div>
        </div>
    </div>
</div>