td{
    font-size: 1.25rem;
    padding: 0.8rem;
}
tbody td{
    border: none;
}
tfoot td{
    font-size: 1.4rem;
    font-weight: 600;
}
tfoot tr{
    border-top: 2px dashed #ccc !important;
    border-bottom: 2px dashed #ccc;
}

.product-name{
    font-size: 1.2rem;
    font-weight: 500;
}

.seller-name{
    color: #777;
    margin-bottom: 0;
}
.price{
    font-size: 1.3rem;
    font-weight: 600;
}

.quantity .btn{
border: 1px solid #777;
}

.quantity .input-field{
    font-size:1.2rem ;
    border: 1px solid #777;
    border-left: none;
    border-right: none;

}

.input-field:focus{
box-shadow: none;
border: none;
outline: none !important;
}


/* Accordian  */

/* .table td{
    background-color:  transparent !important;
} */


.accordion-button{
    padding: 1.5rem 1rem;
    font-size: 1.5rem;
    color: #777;
}

.accordion-item {
    border-radius: 0;
    border: 1px solid #ddd;
    margin-bottom: 1rem;

}
.accordion-button:not(.collapsed){
    background-color: #fff !important;
    color: #000;
}

/* .accordion-item:first-of-type .accordion-button{
    border-radius:  0;
} */


.add-new-address-link{
    text-decoration: none;
    color: var(--secondary-light-color);
    cursor: pointer;
}

.form-check-label{
    margin-left: 1rem;
    font-weight: 500;
}