<div class="container p-2 py-5 d-flex flex-column align-items-center overflow-hidden">
    <div class="col-md-10">
        <div class="row justify-content-center">
            <div class="col-md-12 mb-4">
                <h1>Checkout</h1>
            </div>
            <div class="col-md-8 order-2 order-md-1">
                <div ngbAccordion [closeOthers]="true" #accordion="ngbAccordion">
                    <div ngbAccordionItem>
                        <h2 ngbAccordionHeader>
                            <button ngbAccordionButton>Order Summary</button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    <ng-container *ngFor="let item of (cartItem$ | async); let i = index">
                                        <div class="row">
                                            <div class="col-2 text-center">
                                                <img src="{{item.product!.images[0]}}" alt="" class="img-fluid" />
                                            </div>
                                            <div class="col-10">
                                                <p class="product-name mb-0">
                                                    {{item.product!.name}}
                                                </p>
                                                <p class="seller-name">Quantity: <strong>{{item.quantity}}</strong></p>
                                                <p class="price mb-1">&#8377;{{item.product!.price}}</p>
                                                <button class="btn text-danger" (click)="deleteFromCart(item.cartId)"  *ngIf="(cartItem$ | async)!.length > 1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                                                        fill="currentColor" class="bi bi-trash text-danger"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                                        <path
                                                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                        <hr *ngIf="i < ((cartItem$ | async)!.length-1)" />
                                    </ng-container>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem [collapsed]="false">
                        <h2 ngbAccordionHeader>
                            <button ngbAccordionButton>Delivery Address</button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    @for (address of lstAddress; track $index) {
                                        <div class="row mb-3 mx-0">
                                        <div class="col-1 d-flex align-items-center">
                                            <input type="radio" class="form-check-input" name="address"
                                                id="{{ $index }}" value="{{lstAddress[$index]}}" [checked]="selectedAddress == lstAddress[$index]" (change)="addressChanged(lstAddress[$index])">
                                        </div>
                                        <div class="col-11">
                                            <label for="{{$index}}" class="border px-3 p-2 d-flex align-items-center">
                                                <div class="row w-100">
                                                  <div class="col-md-10 d-flex gap-2">
                                                    <div class="address-type">
                                                      <small>{{address.addressType}}</small>
                                                    </div>
                                                    <div class="is-default" *ngIf="address.isDefault">
                                                      <small class="p-badge bg-warning">Default</small>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-2 text-end">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                                      class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                                      <path
                                                        d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                                                    </svg>
                                                  </div>
                                                  <div class="col-auto">
                                                    <strong>{{address.name}}</strong>
                                                  </div>
                                                  <div class="col-auto">
                                                    <p>{{address.phone}}</p>
                                                  </div>
                                                  <div class="col-md-12">
                                                    {{address.addressLine1+", "+(address.addressLine2 ? +address.addressLine2+", " : '')+address.city+", "+address.state+", "+address.pincode}}
                                                  </div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    }
                                    <div class="row mb-3 mx-0 justify-content-end">
                                        <div class="col-11">
                                            <div ngbAccordion [closeOthers]="true" #accordion="ngbAccordion">
                                                <div ngbAccordionItem>
                                                  <h2 ngbAccordionHeader>
                                                    <button ngbAccordionButton>
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#E09145" class="bi bi-plus"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                                                      </svg>
                                                      <a class="add-new-address-link ms-2">Add New Address</a>
                                                    </button>
                                                  </h2>
                                                  <div ngbAccordionCollapse>
                                                    <div ngbAccordionBody>
                                                      <ng-template>
                                                        <form [formGroup]="addressForm" (ngSubmit)="onAddressAdd()">
                                                          <div class="row">
                                                            <div class="col-md-6 d-flex justify-content-between">
                                                              <div class="form-check form-check-inline mb-3 d-flex align-items-center">
                                                                <input class="form-check-input" type="radio" name="addressType" id="home" value="Home"  formControlName="addressType">
                                                                <label class="form-check-label ms-2" for="home">Home</label>
                                                              </div>
                                                              <div class="form-check form-check-inline mb-3 d-flex align-items-center">
                                                                <input class="form-check-input" type="radio" name="addressType" id="office" value="Office" formControlName="addressType">
                                                                <label class="form-check-label ms-2" for="office">Office</label>
                                                              </div>
                                                              <div class="form-check form-check-inline mb-3 d-flex align-items-center">
                                                                <input class="form-check-input" type="radio" name="addressType" id="other" value="Other" formControlName="addressType">
                                                                <label class="form-check-label ms-2" for="other">Other</label>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                              <div class="form-check form-check-inline mb-3 d-flex align-items-center">
                                                                <input class="form-check-input" type="checkbox" id="default" value="isDefault" formControlName="isDefault">
                                                                <label class="form-check-label ms-2" for="default">Is this your default address?</label>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                              <div class="form-group mb-3">
                                                                <label for="name" class="form-label">Name</label>
                                                                <input type="text" name="name" id="name" class="form-control rounded-0" placeholder="Enter name here" formControlName="name">
                                                              </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                              <div class="form-group mb-3">
                                                                <label for="phone" class="form-label">Phone</label>
                                                                <input type="text" appOnlyNumbers name="phone" id="phone" class="form-control rounded-0" maxlength="10" placeholder="Enter phone" formControlName="phone">
                                                              </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                              <div class="form-group mb-3">
                                                                <label for="address_line_1" class="form-label">Address line 1</label>
                                                                <input type="text" name="address_line_1" id="address_line_1" class="form-control rounded-0" placeholder="Address line 1" formControlName="address_line_1">
                                                              </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                              <div class="form-group mb-3">
                                                                <label for="address_line_2" class="form-label">Address line 2</label>
                                                                <input type="text" name="address_line_2" id="address_line_2" class="form-control rounded-0" placeholder="Address line 2" formControlName="address_line_2">
                                                              </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                              <div class="form-group mb-3">
                                                                <label for="city" class="form-label">City</label>
                                                                <input type="text" name="city" id="city" class="form-control rounded-0" placeholder="enter city" formControlName="city">
                                                              </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                              <div class="form-group mb-3">
                                                                <label for="state" class="form-label">State</label>
                                                                <input type="text" name="state" id="state" class="form-control rounded-0" placeholder="enter state" formControlName="state">
                                                              </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                              <div class="form-group mb-3">
                                                                <label for="pincode" class="form-label">Pincode</label>
                                                                <input type="text" appOnlyNumbers maxlength="6" name="pincode" id="pincode" class="form-control rounded-0" placeholder="enter pincode" formControlName="pincode">
                                                              </div>
                                                            </div>
                                                            <div class="col-md-12 text-end">
                                                              <button class="btn btn-dark rounded-0 w-50">Add</button>
                                                            </div>
                                                          </div>
                                                        </form>
                                                      </ng-template>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            <!-- <div class="border px-3 p-md-2 p-4 d-flex align-items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    fill="#E09145" class="bi bi-plus" viewBox="0 0 16 16">
                                                    <path
                                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                                                </svg>
                                                <a class="add-new-address-link ms-2">Add New Address</a>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-end">
                                            <button class="btn btn-dark btn-lg rounded-0 w-50"
                                                (click)="accordion.toggle('payment')">Next</button>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem="payment">
                        <h2 ngbAccordionHeader>
                            <button ngbAccordionButton>Payment</button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    <div class="row">
                                        <div class="col-md-12 mb-3">
                                            <div class="form-check mb-3 d-flex align-items-end">
                                                <input type="radio" name="payment-method" id="card" class="form-check-input" [(ngModel)]="paymentMethod"
                                                    value="card">
                                                <label for="card" class="form-check-label"> Credit / Debit / ATM
                                                    Card</label>
                                            </div>
                                            <ng-container *ngIf="paymentMethod == 'card'">
                                                <ngx-stripe-elements [stripe]="stripe" [elementsOptions]="elementsOptions">
                                                    <ngx-stripe-payment [options]="paymentElementOptions" />
                                                </ngx-stripe-elements> 
                                            </ng-container>
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <div class="form-check mb-3 d-flex align-items-end">
                                                <input type="radio" name="payment-method" id="cod" class="form-check-input" [(ngModel)]="paymentMethod"
                                                    value="COD">
                                                <label for="cod" class="form-check-label"> Cash On Delivery</label>
                                            </div>
                                            <ng-container *ngIf="paymentMethod == 'COD'">
                                            </ng-container>
                                        </div>
                                        <div class="col-md-12 text-end">
                                            <button class="btn btn-dark rounded-0 w-50 btn-lg" type="button" (click)="pay()">Pay Now</button>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-11 mb-5 order-1 order-md-2">
                <div class="mb-3">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Subtotal</td>
                                <td class="text-end">&#8377;{{cartTotal$| async }}</td>
                            </tr>
                            <tr>
                                <td>Delivery Charges</td>
                                <td class="text-end">&#8377;50</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>Total Amount</td>
                                <td class="text-end">&#8377;{{(cartTotal$| async )! + 50}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="text-center mb-2 d-flex gap-2">
                    <input type="text" class="form-control form-control-lg rounded-0" placeholder="Coupon Code">
                    <button class="btn btn-dark rounded-0 btn-lg">Apply</button>
                </div>
                <div class="mb-2">
                    <!-- <p class="text-success">Lorem ipsum dolor sit amet.</p> -->
                </div>
            </div>
        </div>
    </div>
</div>